.header {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
    padding: 25px 0;
    transition: all ease-in-out .4s;

    .wrapper {
        max-width: 1720px
    }

    &__container {
        @include flex-all-sb;
    }

    .nav {
        ul {
            @include flex-all-sb;
            gap: 8px;

            a {
                display: block;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                text-align: center;
                padding: 11px 15px;
                border: 1px solid #3F3F47;
                color: var(--cs-text-main);
                border-radius: 77px;
                transition: all ease-in-out .4s;

                &:hover {
                    color: var(--cs-cyan);
                    border: 1px solid var(--cs-cyan);
                }
            }
        }
    }

    &__right {
        @include flex-v-center;
    }

    .phone {
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        text-align: center;
        letter-spacing: -0.04em;
        color: var(--cs-text-main);
        padding-left: 24px;
        position: relative;
        transition: all ease-in-out .4s;

        &::before {
            content: "";
            position: absolute;
            background-image: url('../images/icon/phone.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            width: 18px;
            height: 18px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all ease-in-out .4s;
        }

        &:hover {
            color: var(--cs-cyan);

            &::before {
                transform: translateY(-50%) scale(1.2) rotate(45deg);
            }
        }
    }

    .site-link {
        display: block;
        margin-left: 40px;
        margin-right: 8px;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        color: var(--white);
        padding: 12px 18px;
        background: var(--cs-cyan);
        border-radius: 77px;
        transition: all ease-in-out .4s;

        &:hover {
            background: var(--cs-purple);
        }
    }

    .languages {
        &__active {
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            text-align: center;
            color: var(--cs-text-main);
            padding: 12px 18px;
            border-radius: 77px;
            cursor: pointer;
            border: 1px solid var(--cs-text-main);
        }
    }

    .burger {
        @include burger;
    }

    .mobile-menu {
        @include mobile-menu;
	}
}

.header.active-scroll {
    background: rgba(140, 211, 214, 0.3);
}