.main-screen {
    padding-top: 224px;
    padding-bottom: 60px;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        background-image: url('../images/icon/gr-bg.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: -90px;
    }

    &__title {
        position: relative;
        max-width: 1282px;
        margin: 0 auto;
        margin-bottom: 53px;

        .large {
            font-weight: 400;
            font-size: 150px;
            line-height: 100%;
            text-align: center;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            color: var(--cs-dark);
            max-width: fit-content;
            margin: 0 auto;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                background-image: url('../images/icon/star-cyan.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 87px;
                height: 87px;
                z-index: -1;
                top: -29px;
                right: -48px;
                animation: star-moving linear 20s infinite;
            }
        }

        .text {
            position: relative;
        }

        .star-rotate {
            position: absolute;
            width: 263px;
            height: 263px;
            top: 50%;
            left: -98px;
            transform: translateY(-50%);
            z-index: -1;

            &::before {
                content: "";
                position: absolute;
                background-image: url('../images/icon/star-transparent.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 263px;
                height: 263px;
                z-index: -1;
                animation: star-rotating linear 20s infinite;
            }
        }

        .star-moving {
            animation: star-linear-move linear 20s infinite;
        }

        .title-group {
            @include flex-all-center;
            gap: 30px;
            margin-top: 11px;

            .text {
                font-weight: 400;
                font-size: 75px;
                line-height: 80%;
                letter-spacing: -0.04em;
                text-transform: uppercase;
                color: var(--cs-dark);
            }
        }

        .image-wrap {
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
            }

            &::before {
                background: rgba(255, 255, 255, 0.9);
                box-shadow: 0px 14px 15px rgba(122, 120, 201, 0.1);
                backdrop-filter: blur(20px);
                border-radius: 30px;
                width: 146px;
                height: 38px;
                right: -18px;
                bottom: -18px;
            }

            &::after {
                background-image: url('../images/icon/stars.svg');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 102px;
                height: 22px;
                bottom: -10px;
                right: 0;
            }
        }
    }

    &__info {
        @include flex-all-center;
        gap: 16px;

        span {
            font-weight: 400;
            font-size: 30px;
            line-height: 100%;
            text-align: center;
            text-transform: uppercase;
            color: var(--cs-dark);
            padding: 19px 25px;
            border-radius: 77px;

            &:first-child {
                background-color: rgba(122, 120, 201, 0.15);
            }

            &:last-child {
                background-color: rgba(140, 211, 214, 0.3);
            }
        }
    }

    .banner {
        @include flex-v-center;
        background: linear-gradient(90.56deg, #D9F1F2 0.55%, #EAE8F5 98.68%);
        border-radius: 35px;
        padding: 50px 50px 50px 326px;
        position: relative;
        margin-top: 87px;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: var(--white);
            right: 332px;
            top: 0;
            z-index: -1;
        }

        img {
            position: absolute;
            top: -27px;
            left: 96px;
        }

        p {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            color: var(--cs-text-main);
            max-width: 537px;
        }

        button {
            @include flex-all-center;
            gap: 8px;
            margin-left: auto;
            background: var(--cs-purple);
            border-radius: 77px;
            padding: 20px 25px;
            color: var(--white);
            font-weight: 700;
            font-size: 18px;
            line-height: 100%;
            text-align: center;
            transition: all ease-in-out .4s;

            &:hover {
                background: var(--cs-cyan);
            }
        }
    }
}

.about {
    padding-top: 60px;
    padding-bottom: 75px;

    &__container {
        padding: 132px 82px;
        background: #7A78C9 url('../images/home/about-bg.png') no-repeat center/cover;
        border-radius: 35px;
        margin-bottom: 16px;
    }

    .label {
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;
        color: var(--white);
    }

    h2 {
        font-weight: 400;
        font-size: 75px;
        line-height: 80%;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: var(--white);
        margin-top: 60px;
        margin-bottom: 30px;
        max-width: 500px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 70px;
            height: 70px;
            background-image: url('../images/icon/about-star.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            left: -24px;
            top: -24px;
            animation: star-linear-move2 linear 20s infinite;
        }
    }

    p {
        font-weight: 400;
        font-size: 30px;
        line-height: 100%;
        text-transform: uppercase;
        color: var(--white);
        margin-top: 0;
        margin-bottom: 0;
        max-width: 450px;
    }

    &__group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;

        .text-block {
            @include flex-v-center;
            font-family: 'Manrope', sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            color: var(--cs-text-main);
            padding-left: 132px;
            padding-right: 40px;
            padding-top: 42px;
            padding-bottom: 42px;
            border-radius: 25px;
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

            &::before {
                width: 35px;
                height: 35px;
                left: 40px;
            }

            &::after {
                width: 1px;
                height: 75px;
                background-color: var(--white);
                left: 107px;
            }

            &:first-child {
                background-color: rgba(140, 211, 214, 0.2);

                &::before {
                    background-image: url('../images/icon/wallet.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }

            &:last-child {
                background-color: rgba(122, 120, 201, 0.15);

                &::before {
                    background-image: url('../images/icon/businessman.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }
        }
    }
}
