.main-screen {
    padding-top: 224px;
    padding-bottom: 60px;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        background-image: url('../images/icon/gr-bg.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: -90px;
    }

    &__title {
        position: relative;
        max-width: 1282px;
        margin: 0 auto;
        margin-bottom: 53px;

        .large {
            font-weight: 400;
            font-size: 150px;
            line-height: 100%;
            text-align: center;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            color: var(--cs-dark);
            max-width: fit-content;
            margin: 0 auto;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                background-image: url('../images/icon/star-cyan.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 87px;
                height: 87px;
                z-index: -1;
                top: -29px;
                right: -48px;
                animation: star-moving linear 20s infinite;
            }
        }

        .text {
            position: relative;
        }

        .star-rotate {
            position: absolute;
            width: 263px;
            height: 263px;
            top: 50%;
            left: -98px;
            transform: translateY(-50%);
            z-index: -1;

            &::before {
                content: "";
                position: absolute;
                background-image: url('../images/icon/star-transparent.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 263px;
                height: 263px;
                z-index: -1;
                animation: star-rotating linear 20s infinite;
            }
        }

        .star-moving {
            animation: star-linear-move linear 20s infinite;
        }

        .title-group {
            @include flex-all-center;
            gap: 30px;
            margin-top: 11px;

            .text {
                font-weight: 400;
                font-size: 75px;
                line-height: 80%;
                letter-spacing: -0.04em;
                text-transform: uppercase;
                color: var(--cs-dark);
            }
        }

        .image-wrap {
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
            }

            &::before {
                background: rgba(255, 255, 255, 0.9);
                box-shadow: 0px 14px 15px rgba(122, 120, 201, 0.1);
                backdrop-filter: blur(20px);
                border-radius: 30px;
                width: 146px;
                height: 38px;
                right: -18px;
                bottom: -18px;
            }

            &::after {
                background-image: url('../images/icon/stars.svg');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 102px;
                height: 22px;
                bottom: -10px;
                right: 0;
            }
        }
    }

    &__info {
        @include flex-all-center;
        gap: 16px;

        span {
            font-weight: 400;
            font-size: 30px;
            line-height: 100%;
            text-align: center;
            text-transform: uppercase;
            color: var(--cs-dark);
            padding: 19px 25px;
            border-radius: 77px;

            &:first-child {
                background-color: rgba(122, 120, 201, 0.15);
            }

            &:last-child {
                background-color: rgba(140, 211, 214, 0.3);
            }
        }
    }

    .banner {
        @include flex-v-center;
        background: linear-gradient(90.56deg, #D9F1F2 0.55%, #EAE8F5 98.68%);
        border-radius: 35px;
        padding: 50px 50px 50px 326px;
        position: relative;
        margin-top: 87px;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: var(--white);
            right: 332px;
            top: 0;
            z-index: -1;
        }

        img {
            position: absolute;
            top: -27px;
            left: 96px;
        }

        p {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            color: var(--cs-text-main);
            max-width: 537px;
        }

        button {
            @include flex-all-center;
            gap: 8px;
            margin-left: auto;
            background: var(--cs-purple);
            border-radius: 77px;
            padding: 20px 25px;
            color: var(--white);
            font-weight: 700;
            font-size: 18px;
            line-height: 100%;
            text-align: center;
            transition: all ease-in-out .4s;

            &:hover {
                background: var(--cs-cyan);
            }
        }
    }
}

.about {
    padding-top: 60px;
    padding-bottom: 75px;

    &__container {
        padding: 132px 82px;
        background: var(--cs-purple) url('../images/home/about-bg.png') no-repeat center/cover;
        border-radius: 35px;
        margin-bottom: 16px;
    }

    .label {
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;
        color: var(--white);
    }

    h2 {
        font-weight: 400;
        font-size: 75px;
        line-height: 80%;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: var(--white);
        margin-top: 60px;
        margin-bottom: 30px;
        max-width: 500px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 70px;
            height: 70px;
            background-image: url('../images/icon/about-star.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            left: -24px;
            top: -24px;
            animation: star-linear-move2 linear 20s infinite;
        }
    }

    p {
        font-weight: 400;
        font-size: 30px;
        line-height: 100%;
        text-transform: uppercase;
        color: var(--white);
        margin-top: 0;
        margin-bottom: 0;
        max-width: 450px;
    }

    &__group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;

        .text-block {
            @include flex-v-center;
            font-family: 'Manrope', sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            color: var(--cs-text-main);
            padding-left: 132px;
            padding-right: 40px;
            padding-top: 42px;
            padding-bottom: 42px;
            border-radius: 25px;
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

            &::before {
                width: 35px;
                height: 35px;
                left: 40px;
            }

            &::after {
                width: 1px;
                height: 75px;
                background-color: var(--white);
                left: 107px;
            }

            &:first-child {
                background-color: rgba(140, 211, 214, 0.2);

                &::before {
                    background-image: url('../images/icon/wallet.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }

            &:last-child {
                background-color: rgba(122, 120, 201, 0.15);

                &::before {
                    background-image: url('../images/icon/businessman.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }
        }
    }
}

.steps {
    padding-top: 100px;
    padding-bottom: 30px;
    background-image: url('../images/icon/steps-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    h2 {
        font-weight: 400;
        font-size: 30px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
        color: var(--cs-dark);
        margin-top: 0;
        margin-bottom: 60px;
    }

    &__container {
        max-width: 1320px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0 120px;
        position: relative;
        overflow: hidden;
        padding-bottom: 110px;

        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            transition: all ease-in-out .4s;
        }

        &::before {
            height: 100%;
            border: 2px dashed rgba(122, 120, 201, 0.1);
            top: 0;
        }

        &::after {
            top: 0;
            width: 20px;
            height: 20px;
            border: 4px solid var(--cs-purple);
            background-color: var(--white);
            border-radius: 50%;
            opacity: 0;
        }

        &.step--one {
            &::after {
                top: 120px;
                opacity: 1;
            }

            .step--one {
                &::before {
                    height: 160px;
                }
            }
        }

        &.step--two {
            &::after {
                top: 380px;
            }
            .step--one {
                &::before {
                    height: 460px;
                }
            }
        }

        &.step--three {
            &::after {
                top: 640px;
            }
            .step--one {
                &::before {
                    height: 700px;
                }
            }
        }

        &.step--four {
            &::after {
                top: 900px;
                opacity: 1;
            }
            .step--one {
                &::before {
                    height: 100vh;
                }
            }
        }

        .step {
            @include flex-v-center;
            max-width: 600px;
            padding: 55px 92px 55px 50px;
            border-radius: 25px;
            position: relative;
            transition: all ease-in-out .4s;

            &:nth-child(odd) {
                &::after {
                    right: -59px;
                }
            }

            &:nth-child(even) {
                margin-left: auto;

                &::after {
                    left: -59px;
                }
            }

            &::after,
            &::before {
                content: "";
                position: absolute;
                transition: all ease-in-out .6s;
            }

            &::after {
                width: 59px;
                border-top: 2px dashed rgba(122, 120, 201, 0.1);
                top: 50%;
                transform: translateY(-50%);
                z-index: -1;
            }

            &::before {
                height: 0px;
            }

            &--active {
                &::after {
                    border-top: 2px dashed var(--cs-purple);
                }
            }

            .icon {
                @include flex-all-center;
                min-width: 150px;
                height: 150px;
                background-color: var(--white);
                border-radius: 50%;
            }

            p {
                font-weight: 400;
                font-size: 20px;
                line-height: 100%;
                text-transform: uppercase;
                color: var(--cs-dark);
                margin-left: 25px;
                margin-top: 0;
                margin-bottom: 0;
            }

            &-count {
                @include flex-all-center;
                position: absolute;
                right: 20px;
                top: 20px;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                font-family: 'Manrope', sans-serif;
                font-weight: 700;
                font-size: 14px;
                line-height: 140%;
                text-align: center;
                color: var(--white);
            }

            &--one {
                background-color: rgba(122, 120, 201, 0.2);

                &::before {
                    height: 0;
                    border-right: 4px solid var(--cs-purple);
                    right: -61px;
                    top: 0;
                }

                .step-count {
                    background-color: var(--cs-purple);
                }
            }

            &--two {
                background-color: rgba(240, 96, 159, 0.2);

                .step-count {
                    background-color: var(--cs-pink);
                }
            }

            &--three {
                background-color: rgba(140, 211, 214, 0.2);

                .step-count {
                    background-color: var(--cs-cyan);
                }
            }

            &--four {
                background-color: rgba(122, 120, 201, 0.2);

                .step-count {
                    background-color: var(--cs-purple);
                }
            }
        }
    }
}

.request-banner {
    margin-bottom: 48px;

    .banner {
        padding-top: 30px;
        overflow: hidden;
        border-bottom-right-radius: 35px;

        &__container {
            padding: 112px 100px 60px 100px;
            border-radius: 35px;
            background: linear-gradient(90.56deg, #D9F1F2 0.55%, #EAE8F5 98.68%);
            position: relative;

            img {
                position: absolute;
                right: 0;
                top: -30px;
                z-index: 1;
            }
        }

        h2 {
            font-weight: 400;
            font-size: 75px;
            line-height: 80%;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            color: var(--cs-dark);
            margin-top: 0;
            margin-bottom: 0;
        }

        p {
            font-family: 'Manrope', sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            color: var(--cs-dark);
            margin-top: 20px;
            margin-bottom: 40px;
            max-width: 752px
        }

        button {
            @include flex-all-center;
            gap: 8px;
            background: var(--cs-cyan);
            border-radius: 77px;
            padding: 20px 25px;
            color: var(--white);
            font-weight: 700;
            font-size: 18px;
            line-height: 100%;
            text-align: center;
            position: relative;
            z-index: 1;
            transition: all ease-in-out .4s;

            &:hover {
                background: var(--cs-purple);
            }
        }
    }
}

.results {
    padding-top: 100px;
    padding-bottom: 16px;

    &__container {
        background-color: #F9FAFB;
        border-radius: 35px;
        padding: 132px 60px;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            background-image: url('../images/icon/result-gr.svg');
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: contain;
            animation: star-linear-move2 linear 10s infinite;
        }
    }

    .date {
        display: block;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;
        color: var(--cs-text-main);
        text-align: center;
    }

    h2 {
        font-weight: 400;
        font-size: 75px;
        line-height: 80%;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: var(--cs-dark);
        text-align: center;
        margin-top: 46px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        max-width: 584px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 70px;
            height: 70px;
            background-image: url('../images/icon/results-star.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            left: -24px;
            top: -24px;
            animation: star-linear-move2 linear 20s infinite;
        }
    }

    &__group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 1036px;
        margin: 0 auto;
        gap: 8px;
    }

    .result {
        padding: 95px 61px 40px 40px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(20px);
        border-radius: 35px;
        position: relative;
        max-width: 340px;

        &::before {
            content: "";
            position: absolute;
            background-image: url('../images/icon/result-arrow.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 14px;
            height: 14px;
            top: 25px;
            right: 32px;
        }

        h3 {
            font-weight: 700;
            font-size: 90px;
            line-height: 100%;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            color: var(--cs-text-main);
            margin-top: 0;
            margin-bottom: 25px;
        }

        p {
            font-family: 'Manrope', sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            color: var(--cs-text-main);
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
