/* stylelint-disable */
@mixin burger {
  border: none;
  background-color: transparent;
  display: none;
  height: 40px;
  width: 45px;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  cursor: pointer;
  position: relative;
  z-index: 111;
  margin-left: 8px;

  &__line {
    position: relative;
    width: 35px;
    height: 3px;
    background-color: var(--cs-cyan);
    display: inline-block;
    transition-duration: .4s;

    &::before,
    &::after {
      content: "";
      width: 35px;
      height: 3px;
      background-color: var(--cs-cyan);
      display: inline-block;
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {
        top: -10px;
    }

    &::after {
        top: 10px;
    }
  }

  &.burger--active {
    .burger__line {
        background-color: transparent;

        &::before,
        &::after {
            opacity: 1;
            top: 50%;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
  }
}
