<header class="header">
    <div class="wrapper">
        <div class="header__container">
            <a class="logo" href="/">
                <img src="images/icon/logo.svg" alt="Ribas Invest">
            </a>
            <nav class="nav">
                <ul class="list-reset">
                    <li><a href="#about">Про проєкт</a></li>
                    <li><a href="#advantages">Переваги</a></li>
                    <li><a href="#projects">Проєкти для інвестування</a></li>
                </ul>
            </nav>
            <div class="header__right">
                <a href="tel:+380966370002" class="phone">
                    +380 96 637 00 02
                </a>
                <a class="site-link" target="_blank" href="#">Сайт компанії</a>
                <div class="languages">
                    <div class="languages__block">
                        <div class="languages__active">
                            <span>укр</span>
                        </div>
                    </div>
                </div>
                <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
                    <span class="burger__line"></span>
                </button>
            </div>
        </div>
        <div class="mobile-menu" data-menu>
            <div class="mobile-menu__container">
                <a class="logo" href="/">
                    <img src="images/icon/logo.svg" alt="Ribas Invest">
                </a>
                <nav class="nav">
                    <ul class="list-reset">
                        <li><a href="#about">Про проєкт</a></li>
                        <li><a href="#advantages">Переваги</a></li>
                        <li><a href="#projects">Проєкти для інвестування</a></li>
                    </ul>
                </nav>
                <a href="tel:+380966370002" class="phone">
                    +380 96 637 00 02
                </a>
                <a class="site-link" target="_blank" href="#">Сайт компанії</a>
            </div>
        </div>
		</div>
	</div>
</header>
