<section class="main-screen">
    <div class="wrapper">
        <div class="main-screen__container">
            <div class="main-screen__title">
                <div class="large">ІНВЕСТУЙТЕ</div>
                <div class="title-group">
                    <span class="text">В ГОТЕЛЬНУ <span class="star-rotate star-moving"></span></span>
                    <div class="image-wrap">
                        <img src="images/home/title-img.png" alt="ІНВЕСТУЙТЕ В ГОТЕЛЬНУ НЕРУХОМІСТЬ">
                    </div>
                    <span class="text">НЕРУХОМІСТЬ</span>
                </div>
            </div>
            <div class="main-screen__info">
                <span>ВІД 10 000$</span>
                <span>З ПРИБУТКОМ 9-12% РІЧНИХ</span>
            </div>
            <div class="banner">
                <img src="images/icon/warm-1.svg" alt="Залишайте заявку, та отримайте консультацію з нерухомості, щодо можливого прибутку від інвестицій">
                <p>
                    Залишайте заявку, та отримайте консультацію з нерухомості, щодо можливого прибутку від інвестицій
                </p>
                <button class="btn-reset" data-graph-path="request">
                    Надіслати заявку
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.7071 8.70711C15.0976 8.31658 15.0976 7.68342 14.7071 7.29289L8.34315 0.928933C7.95262 0.538408 7.31946 0.538408 6.92893 0.928933C6.53841 1.31946 6.53841 1.95262 6.92893 2.34315L12.5858 8L6.92893 13.6569C6.53841 14.0474 6.53841 14.6805 6.92893 15.0711C7.31946 15.4616 7.95262 15.4616 8.34315 15.0711L14.7071 8.70711ZM-8.74228e-08 9L14 9L14 7L8.74228e-08 7L-8.74228e-08 9Z" fill="white"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
<section id="about" class="about">
    <div class="wrapper">
        <div class="about__container">
            <span class="label">Про проєкт від</span>
            <h2>
                RIbas Invest
            </h2>
            <p>
                Ribas Invest — це платформа, яка допомагає
                інвесторам стати власником прибуткової готельної нерухомості
            </p>
        </div>
        <div class="about__group">
            <div class="text-block">
                Наша юридична форма – кооператив пайового типу,
                що дозволяє тобі інвестувати в готельний бізнес від $10&nbsp;000.
            </div>
            <div class="text-block">
                Всіма об’єктами портфеля нерухомості керує досвідчений національний оператор
                Ribas Hotels Group, який вже понад 9&nbsp;років успішно розвиває готелі своїх інвесторів.
            </div>
        </div>
    </div>
</section>
<section class="steps">
    <div class="wrapper">
        <h2>Як працює Ribas Invest</h2>
        <div class="steps__container">
            <div class="step step--one">
                <div class="icon">
                    <img src="images/icon/building.svg" alt="building">
                </div>
                <p>
                    Ribas Invest аналізує, перевіряє та обирає до портфеля кращі об'єкти дохідної нерухомості, що будуються
                </p>
                <span class="step-count">01</span>
            </div>
            <div class="step step--two">
                <div class="icon">
                    <img src="images/icon/briefcase.svg" alt="briefcase">
                </div>
                <p>
                    Ти інвестуєш від $10 000
                    та стаєш власником частки
                    в портфелі нерухомості
                    Ribas Invest
                </p>
                <span class="step-count">02</span>
            </div>
            <div class="step step--three">
                <div class="icon">
                    <img src="images/icon/calendar.svg" alt="calendar">
                </div>
                <p>
                    об'єкти здаються в експлуатацію та починають генерувати дохід від оренди
                    номерів гостями мережі готелів Ribas Hotels
                </p>
                <span class="step-count">03</span>
            </div>
            <div class="step step--four">
                <div class="icon">
                    <img src="images/icon/cashback.svg" alt="cashback">
                </div>
                <p>
                    Ти щоквартально отримуєш пасивний дохід, починаючи
                    з 1 кварталу після початку операційної роботи об'єкта
                </p>
                <span class="step-count">04</span>
            </div>
        </div>
    </div>
</section>
