<section class="main-screen">
    <div class="wrapper">
        <div class="main-screen__container">
            <div class="main-screen__title">
                <div class="large" data-aos="fade-up" data-aos-duration="1000">ІНВЕСТУЙТЕ</div>
                <div class="title-group">
                    <span class="text" data-aos="fade-right" data-aos-duration="1000">В ГОТЕЛЬНУ <span class="star-rotate star-moving"></span></span>
                    <div class="image-wrap" data-aos="zoom-in" data-aos-duration="1000">
                        <img src="images/home/title-img.png" alt="ІНВЕСТУЙТЕ В ГОТЕЛЬНУ НЕРУХОМІСТЬ">
                    </div>
                    <span class="text" data-aos="fade-left" data-aos-duration="1000">НЕРУХОМІСТЬ</span>
                </div>
            </div>
            <div class="main-screen__info">
                <span data-aos="zoom-in-right" data-aos-delay="400" data-aos-duration="1000">ВІД 10 000$</span>
                <span data-aos="zoom-in-left" data-aos-delay="400" data-aos-duration="1000">З ПРИБУТКОМ 9-12% РІЧНИХ</span>
            </div>
            <div class="banner">
                <img src="images/icon/warm-1.svg" alt="Залишайте заявку, та отримайте консультацію з нерухомості, щодо можливого прибутку від інвестицій" data-aos="zoom-in-right" data-aos-delay="400" data-aos-duration="1000">
                <p data-aos="zoom-in" data-aos-duration="1000">
                    Залишайте заявку, та отримайте консультацію з нерухомості, щодо можливого прибутку від інвестицій
                </p>
                <button class="btn-reset" data-graph-path="request" data-aos="zoom-in-left">
                    Надіслати заявку
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.7071 8.70711C15.0976 8.31658 15.0976 7.68342 14.7071 7.29289L8.34315 0.928933C7.95262 0.538408 7.31946 0.538408 6.92893 0.928933C6.53841 1.31946 6.53841 1.95262 6.92893 2.34315L12.5858 8L6.92893 13.6569C6.53841 14.0474 6.53841 14.6805 6.92893 15.0711C7.31946 15.4616 7.95262 15.4616 8.34315 15.0711L14.7071 8.70711ZM-8.74228e-08 9L14 9L14 7L8.74228e-08 7L-8.74228e-08 9Z" fill="white"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
<section id="about" class="about">
    <div class="wrapper">
        <div class="about__container">
            <span class="label" data-aos="fade-in" data-aos-duration="1000">Про проєкт від</span>
            <h2 data-aos="zoom-in-down" data-aos-delay="400" data-aos-duration="1000">
                RIbas Invest
            </h2>
            <p data-aos="zoom-in-up" data-aos-delay="600" data-aos-duration="1000">
                Ribas Invest — це платформа, яка допомагає
                інвесторам стати власником прибуткової готельної нерухомості
            </p>
        </div>
        <div class="about__group">
            <div class="text-block" data-aos="zoom-in-right" data-aos-delay="200" data-aos-duration="1000">
                Наша юридична форма – кооператив пайового типу,
                що дозволяє тобі інвестувати в готельний бізнес від $10&nbsp;000.
            </div>
            <div class="text-block" data-aos="zoom-in-left" data-aos-delay="200" data-aos-duration="1000">
                Всіма об’єктами портфеля нерухомості керує досвідчений національний оператор
                Ribas Hotels Group, який вже понад 9&nbsp;років успішно розвиває готелі своїх інвесторів.
            </div>
        </div>
    </div>
</section>
<section class="steps">
    <div class="wrapper">
        <h2 data-aos="zoom-in-down" data-aos-duration="1000">Як працює Ribas Invest</h2>
        <div class="steps__container">
            <div class="step step--one">
                <div class="icon" data-aos="zoom-in" data-aos-delay="400" data-aos-duration="1000">
                    <img src="images/icon/building.svg" alt="building">
                </div>
                <p data-aos="zoom-in-right" data-aos-duration="1000">
                    Ribas Invest аналізує, перевіряє та обирає до портфеля кращі об'єкти дохідної нерухомості, що будуються
                </p>
                <span class="step-count" data-aos="zoom-in-up" data-aos-delay="400" data-aos-duration="1000">01</span>
            </div>
            <div class="step step--two">
                <div class="icon" data-aos="zoom-in" data-aos-delay="400" data-aos-duration="1000">
                    <img src="images/icon/briefcase.svg" alt="briefcase">
                </div>
                <p data-aos="zoom-in-left" data-aos-delay="400" data-aos-duration="1000">
                    Ти інвестуєш від $10 000
                    та стаєш власником частки
                    в портфелі нерухомості
                    Ribas Invest
                </p>
                <span class="step-count" data-aos="zoom-in-up" data-aos-delay="400" data-aos-duration="1000">02</span>
            </div>
            <div class="step step--three">
                <div class="icon" data-aos="zoom-in" data-aos-delay="400" data-aos-duration="1000">
                    <img src="images/icon/calendar.svg" alt="calendar">
                </div>
                <p data-aos="zoom-in-right" data-aos-duration="1000">
                    об'єкти здаються в експлуатацію та починають генерувати дохід від оренди
                    номерів гостями мережі готелів Ribas Hotels
                </p>
                <span class="step-count" data-aos="zoom-in-up" data-aos-delay="400" data-aos-duration="1000">03</span>
            </div>
            <div class="step step--four">
                <div class="icon" data-aos="zoom-in-right" data-aos-delay="400" data-aos-duration="1000">
                    <img src="images/icon/cashback.svg" alt="cashback">
                </div>
                <p data-aos="zoom-in" data-aos-duration="1000">
                    Ти щоквартально отримуєш пасивний дохід, починаючи
                    з 1 кварталу після початку операційної роботи об'єкта
                </p>
                <span class="step-count" data-aos="zoom-in-up" data-aos-delay="400" data-aos-duration="1000">04</span>
            </div>
        </div>
    </div>
</section>
<section class="request-banner">
    <div class="wrapper">
        <div class="banner">
            <div class="banner__container">
                <img src="images/home/request-banner-img.png" alt="Залишайте заявку" data-aos="zoom-in-up" data-aos-duration="1000">
                <h2 data-aos="zoom-in-down" data-aos-duration="1000">
                    Залишайте<br> заявку
                </h2>
                <p data-aos="zoom-in-left" data-aos-delay="200" data-aos-duration="1000">
                    на індивідуальну консультацію нашого менеджера з нерухомості, та дізнайтеся скільки ви можете отримати прибутку від проєкту Ribas Invest
                </p>
                <button class="btn-reset" data-graph-path="request" data-aos="zoom-in-up">
                    Надіслати заявку
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.7071 8.70711C15.0976 8.31658 15.0976 7.68342 14.7071 7.29289L8.34315 0.928933C7.95262 0.538408 7.31946 0.538408 6.92893 0.928933C6.53841 1.31946 6.53841 1.95262 6.92893 2.34315L12.5858 8L6.92893 13.6569C6.53841 14.0474 6.53841 14.6805 6.92893 15.0711C7.31946 15.4616 7.95262 15.4616 8.34315 15.0711L14.7071 8.70711ZM-8.74228e-08 9L14 9L14 7L8.74228e-08 7L-8.74228e-08 9Z" fill="white"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="results">
    <div class="wrapper">
        <div class="results__container">
            <span class="date" data-aos="zoom-in-down" data-aos-duration="1000">за 2021 − 2022 р</span>
            <h2 data-aos="zoom-in-down" data-aos-delay="400" data-aos-duration="1000">
                Результати Ribas
            </h2>
            <div class="results__group">
                <div class="result" data-aos="flip-left" data-aos-delay="200" data-aos-duration="1000">
                    <h3>310</h3>
                    <p>млн. грн - Загальний оборот готелі</p>
                </div>
                <div class="result" data-aos="flip-left" data-aos-delay="400" data-aos-duration="1000">
                    <h3>29</h3>
                    <p>нових інвестиційних та готельних проєктів</p>
                </div>
                <div class="result" data-aos="flip-left" data-aos-delay="600" data-aos-duration="1000">
                    <h3>125</h3>
                    <p>млн $ залучено інвестицій у нові проєкти</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="amount">
    <div class="wrapper">
        <div class="amount__container">
            <h2 data-aos="zoom-in-down" data-aos-duration="1000">
                У нашому портфелі наявні апартаменти та котеджі на суму:
            </h2>
            <div class="total" data-aos="zoom-in-down" data-aos-delay="400" data-aos-duration="1000">
                $427 000
            </div>
            <div class="attention">
                Вартість нерухомості в наступному буде вищою.
                А після перемоги така нерухомість коштуватиме значно дорожче
            </div>
        </div>
        <div class="end-elem"></div>
    </div>
</section>
<section id="advantages" class="prospects">
    <div class="wrapper">
        <div class="prospects__container">
            <div class="prospects__info">
                <h3 data-aos="zoom-in-right" data-aos-duration="1000">
                    під керівництвом Ribas Hotels Group
                </h3>
                <h2 data-aos="zoom-in-right" data-aos-delay="400" data-aos-duration="1000">
                    ПЕРСПЕКТИВИ
                    ІНВЕСТУВАННЯ
                    В АПАРТАМЕНТИ
                </h2>
                <ul class="list-reset">
                    <li>
                        <h4 data-aos="zoom-in-right" data-aos-delay="100" data-aos-duration="1000">ПОВЕРНЕННЯ КОШТІВ</h4>
                        <p data-aos="zoom-in-right" data-aos-delay="200" data-aos-duration="1000">гарантоване повернення вкладених коштів на кожен квадратний метр апарт-готелю</p>
                    </li>
                    <li>
                        <h4 data-aos="zoom-in-right" data-aos-delay="300" data-aos-duration="1000">ВИСОКЕ ЗАВАНТАЖЕННЯ</h4>
                        <p data-aos="zoom-in-right" data-aos-delay="400" data-aos-duration="1000">бренд мережі готелів, який забезпечує високий рівень завантаження апарт-готелю у своєму регіоні незалежно від сезону</p>
                    </li>
                    <li>
                        <h4 data-aos="zoom-in-right" data-aos-delay="500" data-aos-duration="1000">ВІДПОВІДАЛЬНІСТЬ</h4>
                        <p data-aos="zoom-in-right" data-aos-delay="600" data-aos-duration="1000">можливість передати відповідальність за своє майно та за операційну роботу оператору в рамках договору</p>
                    </li>
                    <li>
                        <h4 data-aos="zoom-in-right" data-aos-delay="700" data-aos-duration="1000">ЛОЯЛЬНІСТЬ</h4>
                        <p data-aos="zoom-in-right" data-aos-delay="800" data-aos-duration="1000">привілеї системи лояльності мережі готелів Ribas Hotels</p>
                    </li>
                </ul>
            </div>
            <div class="prospects__images">
                <img src="images/home/prospects.jpg" alt="під керівництвом Ribas Hotels Group" data-aos="zoom-in-left" data-aos-delay="400" data-aos-duration="1000">
            </div>
        </div>
    </div>
</section>
<section class="request-banner request-banner-purple">
    <div class="wrapper">
        <div class="banner">
            <div class="banner__container">
                <h2 data-aos="zoom-in-down" data-aos-duration="1000">
                    Залишайте<br> заявку
                </h2>
                <p data-aos="zoom-in-left" data-aos-delay="200" data-aos-duration="1000">
                    на індивідуальну консультацію нашого менеджера з нерухомості, та дізнайтеся скільки ви можете отримати прибутку від проєкту Ribas Invest
                </p>
                <button class="btn-reset" data-graph-path="request" data-aos="zoom-in-up">
                    Надіслати заявку
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.7071 8.70711C15.0976 8.31658 15.0976 7.68342 14.7071 7.29289L8.34315 0.928933C7.95262 0.538408 7.31946 0.538408 6.92893 0.928933C6.53841 1.31946 6.53841 1.95262 6.92893 2.34315L12.5858 8L6.92893 13.6569C6.53841 14.0474 6.53841 14.6805 6.92893 15.0711C7.31946 15.4616 7.95262 15.4616 8.34315 15.0711L14.7071 8.70711ZM-8.74228e-08 9L14 9L14 7L8.74228e-08 7L-8.74228e-08 9Z" fill="white"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="why">
    <div class="wrapper">
        <span class="label" data-aos="zoom-in-right" data-aos-duration="1000">
            обирай надійне
        </span>
        <div class="why__container">
            <h2 data-aos="zoom-in-right" data-aos-delay="400" data-aos-duration="1000">
                чому інвестування
                з Ribas Invest –
                <span>
                    це надійно, вигідно
                    та прозоро
                </span>
            </h2>
            <ol class="list-reset why__list">
                <li>
                    <div class="count" data-aos="zoom-in-up" data-aos-delay="200" data-aos-duration="1000">
                        <span>01</span>
                    </div>
                    <div class="group">
                        <p data-aos="zoom-in-left" data-aos-delay="300" data-aos-duration="1000">Мінімальна інвестиція</p>
                        <h3 data-aos="zoom-in-left" data-aos-delay="500" data-aos-duration="1000">$ 10 000</h3>
                    </div>
                </li>
                <li>
                    <div class="count" data-aos="zoom-in-up" data-aos-delay="200" data-aos-duration="1000">
                        <span>02</span>
                    </div>
                    <div class="group">
                        <p data-aos="zoom-in-left" data-aos-delay="300" data-aos-duration="1000">Чистий річний прибуток</p>
                        <h3 data-aos="zoom-in-left" data-aos-delay="500" data-aos-duration="1000">9-12%*</h3>
                        <span>*% формується із прибутку від оплати оренди гостями номерного фонду об'єктів</span>
                    </div>
                </li>
                <li>
                    <div class="count" data-aos="zoom-in-up" data-aos-delay="200" data-aos-duration="1000">
                        <span>03</span>
                    </div>
                    <div class="group">
                        <p data-aos="zoom-in-left" data-aos-delay="300" data-aos-duration="1000">Ефективність роботи та завантаження об'єктів забезпечує готельний оператор</p>
                        <h3 data-aos="zoom-in-left" data-aos-delay="500" data-aos-duration="1000">Ribas Hotels Group</h3>
                    </div>
                </li>
                <li>
                    <div class="count" data-aos="zoom-in-up" data-aos-delay="200" data-aos-duration="1000">
                        <span>04</span>
                    </div>
                    <div class="group">
                        <p data-aos="zoom-in-left" data-aos-delay="300" data-aos-duration="1000">Перспективні локації дохідної нерухомості: </p>
                        <h3 data-aos="zoom-in-left" data-aos-delay="500" data-aos-duration="1000">Україна, ЄС, Індонезія, Кіпр</h3>
                    </div>
                </li>
                <li>
                    <div class="count" data-aos="zoom-in-up" data-aos-delay="200" data-aos-duration="1000">
                        <span>05</span>
                    </div>
                    <div class="group">
                        <p data-aos="zoom-in-left" data-aos-delay="300" data-aos-duration="1000">Заробіток на капіталізації, через</p>
                        <h3 data-aos="zoom-in-left" data-aos-delay="500" data-aos-duration="1000">продаж своєї частки</h3>
                        <span>Частку у Ribas Invest простіше купувати і продавати, ніж нерухомість</span>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</section>
<section class="ceo">
    <div class="wrapper">
        <span class="label" data-aos="zoom-in-down" data-aos-duration="1000">
            обирай приємне
        </span>
        <h2 data-aos="zoom-in-down" data-aos-delay="400" data-aos-duration="1000">
            Чому інвестування в Ribas Invest – <span>це приємно</span>
        </h2>
        <ul class="list-reset ceo__list">
            <li data-aos="zoom-in-right" data-aos-delay="200" data-aos-duration="1000">
                <div class="count">
                    <span>01</span>
                </div>
                <div class="group">
                    <p>
                        Тому що бути співвласником нового
                        готельного об'єкта в популярній локації-
                    </p>
                    <h3>це престижно!</h3>
                </div>
            </li>
            <li data-aos="zoom-in-right" data-aos-delay="400" data-aos-duration="1000">
                <div class="count">
                    <span>02</span>
                </div>
                <div class="group">
                    <p>
                        на вікенд і постійні знижки на всі послуги
                        в мережі Ribas Hotels у всіх країнах
                    </p>
                    <h3>Отримуєш бонусний відпочинок</h3>
                </div>
            </li>
            <li data-aos="zoom-in-left" data-aos-delay="600" data-aos-duration="1000">
                <div class="count">
                    <span>03</span>
                </div>
                <div class="group">
                    <p>
                        Береш участь у закритому клубі інвесторів
                        Ribas Invest, де ти можеш знайти нових
                    </p>
                    <h3>партнерів і клієнтів</h3>
                </div>
            </li>
            <li data-aos="zoom-in-left" data-aos-delay="800" data-aos-duration="1000">
                <div class="count">
                    <span>04</span>
                </div>
                <div class="group">
                    <p>
                        Ribas Hotels Group
                        та безкоштовно навчаєшься тонкощам
                        інвестування на наших лекціях, форумах
                        і майстер-класах
                    </p>
                    <h3>Маєш доступ до<br> бази знань </h3>
                </div>
            </li>
        </ul>
        <div class="ceo__images">
            <img src="images/home/artur-lupashko.png" alt="Артур Лупашко" data-aos="zoom-in-up" data-aos-delay="400" data-aos-duration="1000">
            <div class="ceo__info">
                <h4 data-aos="zoom-in-left" data-aos-delay="400" data-aos-duration="1000">
                    Артур Лупашко
                </h4>
                <span>(CEO Ribas Hotels Group)</span>
            </div>
        </div>
    </div>
</section>
<section class="projects" id="projects">
    <div class="wrapper">
        <h3 data-aos="zoom-in-down" data-aos-duration="1000">
            Прибуткова нерухомість з гарантією окупності від готельного оператора
        </h3>
        <h2 data-aos="zoom-in-down" data-aos-delay="400" data-aos-duration="1000">
            Інвестиційний портфель #1
        </h2>
        <div class="projects__container">
            <div class="project">
                <div class="project__image">
                    <img src="images/projects/1.jpg" alt="AMA FAMILY RESORT" data-aos="zoom-out" data-aos-duration="1000">
                </div>
                <div class="project__info">
                    <h4 class="project__name" data-aos="zoom-in-left" data-aos-duration="1000">AMA FAMILY RESORT</h4>
                    <div class="project__group">
                        <div class="info" data-aos="zoom-in-right" data-aos-delay="400" data-aos-duration="1000">
                            <span>Статус:</span>
                            <span>Інвестування</span>
                        </div>
                        <div class="info" data-aos="zoom-in-left" data-aos-delay="400" data-aos-duration="1000">
                            <span>Дата відкриття:</span>
                            <span>2 квартал 2024 року</span>
                        </div>
                        <div class="info" data-aos="zoom-in-right" data-aos-delay="600" data-aos-duration="1000">
                            <span>Локація:</span>
                            <span>Івано-Франківська обл., c.&nbsp;Поляниця</span>
                        </div>
                        <div class="info" data-aos="zoom-in-left" data-aos-delay="600" data-aos-duration="1000">
                            <span>Проєкт сворено:</span>
                            <img src="images/projects/created/bro-bureau-logo.svg" alt="bro-bureau-logo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="project">
                <div class="project__image">
                    <img src="images/projects/2.jpg" alt="AGATE RESORT & SPA" data-aos="zoom-out" data-aos-duration="1000">
                </div>
                <div class="project__info">
                    <h4 class="project__name" data-aos="zoom-in-left"data-aos-duration="1000">AGATE RESORT & SPA</h4>
                    <div class="project__group">
                        <div class="info" data-aos="zoom-in-right" data-aos-delay="400" data-aos-duration="1000">
                            <span>Статус:</span>
                            <span>Інвестування</span>
                        </div>
                        <div class="info" data-aos="zoom-in-left" data-aos-delay="400" data-aos-duration="1000">
                            <span>Дата відкриття:</span>
                            <span>4 квартал 2023 року</span>
                        </div>
                        <div class="info" data-aos="zoom-in-right" data-aos-delay="600" data-aos-duration="1000">
                            <span>Локація:</span>
                            <span>Івано-Франківська область, с. Микуличин</span>
                        </div>
                        <div class="info" data-aos="zoom-in-left" data-aos-delay="600" data-aos-duration="1000">
                            <span>Проєкт сворено:</span>
                            <img src="images/projects/created/logo-mba.svg" alt="mba logo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="project">
                <div class="project__image">
                    <img src="images/projects/3.jpg" alt="WOL.GREEN POLYANA" data-aos="zoom-out" data-aos-duration="1000">
                </div>
                <div class="project__info">
                    <h4 class="project__name" data-aos="zoom-in-left" data-aos-duration="1000">WOL.GREEN POLYANA</h4>
                    <div class="project__group">
                        <div class="info" data-aos="zoom-in-right" data-aos-delay="400" data-aos-duration="1000">
                            <span>Статус:</span>
                            <span>Інвестування</span>
                        </div>
                        <div class="info" data-aos="zoom-in-left" data-aos-delay="400" data-aos-duration="1000">
                            <span>Дата відкриття:</span>
                            <span>4 квартал 2024 року</span>
                        </div>
                        <div class="info" data-aos="zoom-in-right" data-aos-delay="600" data-aos-duration="1000">
                            <span>Локація:</span>
                            <span>Закарпатська обл., Свалявський р., с. Поляна, вулиця Курортна, 25</span>
                        </div>
                        <div class="info" data-aos="zoom-in-left" data-aos-delay="600" data-aos-duration="1000">
                            <span>Проєкт сворено:</span>
                            <img src="images/projects/created/wol-green-logo.svg" alt="arena logo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="project">
                <div class="project__image">
                    <img src="images/projects/4.jpg" alt="WOL 121 ОДЕСА" data-aos="zoom-out" data-aos-duration="1000">
                </div>
                <div class="project__info">
                    <h4 class="project__name" data-aos="zoom-in-left" data-aos-duration="1000">WOL 121 ОДЕСА</h4>
                    <div class="project__group">
                        <div class="info" data-aos="zoom-in-right" data-aos-delay="400" data-aos-duration="1000">
                            <span>Статус:</span>
                            <span>Зданий в експлуатацію</span>
                        </div>
                        <div class="info" data-aos="zoom-in-left" data-aos-delay="400" data-aos-duration="1000">
                            <span>Дата відкриття:</span>
                            <span>4 квартал 2021 року</span>
                        </div>
                        <div class="info" data-aos="zoom-in-right" data-aos-delay="600" data-aos-duration="1000">
                            <span>Локація:</span>
                            <span>м. Одеса, Фонтанська дорога, 121</span>
                        </div>
                        <div class="info" data-aos="zoom-in-left" data-aos-delay="600" data-aos-duration="1000">
                            <span>Проєкт сворено:</span>
                            <span>група приватних інвесторів</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="experts">
    <div class="wrapper">
        <span class="label" data-aos="zoom-in-left" data-aos-duration="1000">Наші готелі застраховані </span>
        <div class="experts__container">
            <div class="experts__text">
                <h2 data-aos="zoom-in-left" data-aos-delay="400" data-aos-duration="1000">
                    Ми дуже<br>
                    піклуємось<br>
                    про надійність
                </h2>
                <p data-aos="zoom-in-left" data-aos-delay="600" data-aos-duration="1000">
                    Аналіз обʼєктів на відповідність стандартам мережі готелів
                    Ribas Hotels відбувається при залученні провідних готельних експертів компанії
                </p>
            </div>
            <div class="experts__blocks">
                <div class="block" data-aos="zoom-in-left" data-aos-delay="300" data-aos-duration="1000">
                    <img src="images/home/uniqa.png" alt="uniqua">
                    <p>Наші готелі застраховані Австрійською страховою компанією UNIQA</p>
                </div>
                <div class="block" data-aos="zoom-in-left" data-aos-delay="600" data-aos-duration="1000">
                    <img src="images/home/experts.png" alt="experts">
                    <p>Нашу діяльність щорічно перевірятиме аудиторська компанія з Великої Четвірки</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gallery">
    <div class="wrapper">
        <div class="gallery__container">
            <div class="swiper gallery__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="image">
                            <img src="images/gallery/1.png" alt="Екстер'єрні та інтер'єрні рішення AGATE RESORT & SPA">
                            <div class="descript">
                                Екстер'єрні та інтер'єрні рішення AGATE RESORT & SPA
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image">
                            <img src="images/gallery/2.jpg" alt="Екстер'єрні та інтер'єрні рішення AGATE RESORT & SPA">
                            <div class="descript">
                                Екстер'єрні та інтер'єрні рішення AGATE RESORT & SPA
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image">
                            <img src="images/gallery/3.jpg" alt="Екстер'єрні та інтер'єрні рішення AGATE RESORT & SPA">
                            <div class="descript">
                                Екстер'єрні та інтер'єрні рішення AGATE RESORT & SPA
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="image">
                            <img src="images/gallery/4.jpg" alt="Екстер'єрні та інтер'єрні рішення AGATE RESORT & SPA">
                            <div class="descript">
                                Екстер'єрні та інтер'єрні рішення AGATE RESORT & SPA
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="carefree">
    <div class="wrapper">
        <span class="label" data-aos="zoom-in-down" data-aos-duration="1000">Ribas Hotels Group</span>
        <h2 data-aos="zoom-in-down" data-aos-delay="400" data-aos-duration="1000">
            Ваші кроки
            до безтурботного завтра
        </h2>
        <div class="carefree__container">
            <div class="carefree__images">
                <img src="images/home/carefree-img.png" alt="Ваші кроки до безтурботного завтра" data-aos="zoom-in-down" data-aos-delay="500" data-aos-duration="1000">
            </div>
            <ol class="list-reset carefree__list">
                <li data-aos="flip-left" data-aos-delay="300" data-aos-duration="1000">
                    <div class="block">
                        <span class="count">01</span>
                        <p>Зв'язатися з особистим менеджером</p>
                    </div>
                </li>
                <li data-aos="flip-left" data-aos-delay="400" data-aos-duration="1000">
                    <div class="block">
                        <span class="count">02</span>
                        <p>Обрати свій варіант інвестування</p>
                    </div>
                </li>
                <li data-aos="flip-left" data-aos-delay="500" data-aos-duration="1000">
                    <div class="block">
                        <span class="count">03</span>
                        <p>Укласти угоду та почати отримувати пасивний прибуток</p>
                    </div>
                </li>
                <li data-aos="flip-left" data-aos-delay="600" data-aos-duration="1000">
                    <div class="block">
                        <span class="count">04</span>
                        <p>Займатися вже сьогодні улюбленими справами</p>
                    </div>
                </li>
                <li data-aos="flip-left" data-aos-delay="700" data-aos-duration="1000">
                    <div class="block">
                        <span class="count">05</span>
                        <p>Бути впевненим в стабільному грошовому потоці</p>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</section>
<section class="request-banner">
    <div class="wrapper">
        <div class="banner">
            <div class="banner__container">
                <img src="images/home/request-banner-img.png" alt="Залишайте заявку" data-aos="zoom-in-up" data-aos-duration="1000">
                <h2 data-aos="zoom-in-down" data-aos-duration="1000">
                    Залишайте<br> заявку
                </h2>
                <p data-aos="zoom-in-left" data-aos-delay="200" data-aos-duration="1000">
                    на індивідуальну консультацію нашого менеджера з нерухомості, та дізнайтеся скільки ви можете отримати прибутку від проєкту Ribas Invest
                </p>
                <button class="btn-reset" data-graph-path="request" data-aos="zoom-in-up">
                    Надіслати заявку
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.7071 8.70711C15.0976 8.31658 15.0976 7.68342 14.7071 7.29289L8.34315 0.928933C7.95262 0.538408 7.31946 0.538408 6.92893 0.928933C6.53841 1.31946 6.53841 1.95262 6.92893 2.34315L12.5858 8L6.92893 13.6569C6.53841 14.0474 6.53841 14.6805 6.92893 15.0711C7.31946 15.4616 7.95262 15.4616 8.34315 15.0711L14.7071 8.70711ZM-8.74228e-08 9L14 9L14 7L8.74228e-08 7L-8.74228e-08 9Z" fill="white"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="documents">
    <div class="wrapper">
        <h2 data-aos="zoom-in-down" data-aos-duration="1000">
            МОЖЕШ СКАЧАТИ Документы
        </h2>
        <div class="documents__container">
            <a class="cyan" href="#" download data-aos="zoom-in-right" data-aos-delay="800" data-aos-duration="1000">
                <svg class="doc" width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_807_1653)">
                        <path d="M19.114 12.5264C19.114 11.9439 18.6418 11.4717 18.0593 11.4717H7.19598C6.61348 11.4717 6.1413 11.9439 6.1413 12.5264C6.1413 13.1089 6.61348 13.5811 7.19598 13.5811H18.0593C18.6418 13.5811 19.114 13.1089 19.114 12.5264Z" fill="currentColor"/>
                        <path d="M7.19598 15.6904C6.61348 15.6904 6.1413 16.1626 6.1413 16.7451C6.1413 17.3276 6.61348 17.7998 7.19598 17.7998H13.7936C14.3761 17.7998 14.8483 17.3276 14.8483 16.7451C14.8483 16.1626 14.3761 15.6904 13.7936 15.6904H7.19598Z" fill="currentColor"/>
                        <path d="M9.67451 25.8154H6.14716C4.98405 25.8154 4.03778 24.8692 4.03778 23.7061V5.14355C4.03778 3.98045 4.98405 3.03418 6.14716 3.03418H19.114C20.2771 3.03418 21.2233 3.98045 21.2233 5.14355V11.6299C21.2233 12.2124 21.6955 12.6846 22.278 12.6846C22.8605 12.6846 23.3327 12.2124 23.3327 11.6299V5.14355C23.3327 2.81734 21.4402 0.924805 19.114 0.924805H6.14716C3.82094 0.924805 1.92841 2.81734 1.92841 5.14355V23.7061C1.92841 26.0323 3.82094 27.9248 6.14716 27.9248H9.67451C10.257 27.9248 10.7292 27.4526 10.7292 26.8701C10.7292 26.2876 10.257 25.8154 9.67451 25.8154Z" fill="currentColor"/>
                        <path d="M25.2008 16.1949C23.9671 14.9612 21.9599 14.9612 20.727 16.1941L14.9366 21.9716C14.8136 22.0944 14.7229 22.2455 14.6724 22.4117L13.4113 26.5632C13.2995 26.9313 13.3969 27.331 13.6656 27.6063C13.8668 27.8126 14.1402 27.9245 14.4206 27.9245C14.5144 27.9245 14.6091 27.912 14.7021 27.8862L18.9591 26.707C19.1342 26.6585 19.2939 26.5655 19.4226 26.437L25.2009 20.6696C26.4345 19.436 26.4345 17.4287 25.2008 16.1949ZM18.1287 24.7482L15.987 25.3415L16.6138 23.278L20.5208 19.3796L22.0127 20.8715L18.1287 24.7482ZM23.7101 19.1775L23.5057 19.3814L22.0141 17.8898L22.2178 17.6866C22.629 17.2753 23.2981 17.2753 23.7093 17.6866C24.1205 18.0978 24.1205 18.7669 23.7101 19.1775Z" fill="currentColor"/>
                        <path d="M18.0593 7.25293H7.19598C6.61348 7.25293 6.1413 7.72511 6.1413 8.30762C6.1413 8.89012 6.61348 9.3623 7.19598 9.3623H18.0593C18.6418 9.3623 19.114 8.89012 19.114 8.30762C19.114 7.72511 18.6418 7.25293 18.0593 7.25293Z" fill="currentColor"/>
                    </g>
                </svg>
                <span class="text">сТАТУТ</span>
                <span class="download">
                    <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.49994 1.01563C8.49994 0.46334 8.05222 0.015625 7.49994 0.015625C6.94765 0.015625 6.49994 0.46334 6.49994 1.01562L8.49994 1.01563ZM6.79283 14.1421C7.18336 14.5326 7.81652 14.5326 8.20705 14.1421L14.571 7.77813C14.9615 7.3876 14.9615 6.75444 14.571 6.36391C14.1805 5.97339 13.5473 5.97339 13.1568 6.36391L7.49994 12.0208L1.84308 6.36391C1.45256 5.97339 0.819395 5.97339 0.428871 6.36391C0.0383465 6.75444 0.0383465 7.3876 0.428871 7.77813L6.79283 14.1421ZM6.49994 1.01562L6.49994 13.435L8.49994 13.435L8.49994 1.01563L6.49994 1.01562Z" fill="white"/>
                        <path d="M1.29028 16.9834H13.7096" stroke="white" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </span>
            </a>
            <a class="purple" href="#" download data-aos="zoom-in-right" data-aos-delay="400" data-aos-duration="1000">
                <svg class="doc" width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_807_1653)">
                        <path d="M19.114 12.5264C19.114 11.9439 18.6418 11.4717 18.0593 11.4717H7.19598C6.61348 11.4717 6.1413 11.9439 6.1413 12.5264C6.1413 13.1089 6.61348 13.5811 7.19598 13.5811H18.0593C18.6418 13.5811 19.114 13.1089 19.114 12.5264Z" fill="currentColor"/>
                        <path d="M7.19598 15.6904C6.61348 15.6904 6.1413 16.1626 6.1413 16.7451C6.1413 17.3276 6.61348 17.7998 7.19598 17.7998H13.7936C14.3761 17.7998 14.8483 17.3276 14.8483 16.7451C14.8483 16.1626 14.3761 15.6904 13.7936 15.6904H7.19598Z" fill="currentColor"/>
                        <path d="M9.67451 25.8154H6.14716C4.98405 25.8154 4.03778 24.8692 4.03778 23.7061V5.14355C4.03778 3.98045 4.98405 3.03418 6.14716 3.03418H19.114C20.2771 3.03418 21.2233 3.98045 21.2233 5.14355V11.6299C21.2233 12.2124 21.6955 12.6846 22.278 12.6846C22.8605 12.6846 23.3327 12.2124 23.3327 11.6299V5.14355C23.3327 2.81734 21.4402 0.924805 19.114 0.924805H6.14716C3.82094 0.924805 1.92841 2.81734 1.92841 5.14355V23.7061C1.92841 26.0323 3.82094 27.9248 6.14716 27.9248H9.67451C10.257 27.9248 10.7292 27.4526 10.7292 26.8701C10.7292 26.2876 10.257 25.8154 9.67451 25.8154Z" fill="currentColor"/>
                        <path d="M25.2008 16.1949C23.9671 14.9612 21.9599 14.9612 20.727 16.1941L14.9366 21.9716C14.8136 22.0944 14.7229 22.2455 14.6724 22.4117L13.4113 26.5632C13.2995 26.9313 13.3969 27.331 13.6656 27.6063C13.8668 27.8126 14.1402 27.9245 14.4206 27.9245C14.5144 27.9245 14.6091 27.912 14.7021 27.8862L18.9591 26.707C19.1342 26.6585 19.2939 26.5655 19.4226 26.437L25.2009 20.6696C26.4345 19.436 26.4345 17.4287 25.2008 16.1949ZM18.1287 24.7482L15.987 25.3415L16.6138 23.278L20.5208 19.3796L22.0127 20.8715L18.1287 24.7482ZM23.7101 19.1775L23.5057 19.3814L22.0141 17.8898L22.2178 17.6866C22.629 17.2753 23.2981 17.2753 23.7093 17.6866C24.1205 18.0978 24.1205 18.7669 23.7101 19.1775Z" fill="currentColor"/>
                        <path d="M18.0593 7.25293H7.19598C6.61348 7.25293 6.1413 7.72511 6.1413 8.30762C6.1413 8.89012 6.61348 9.3623 7.19598 9.3623H18.0593C18.6418 9.3623 19.114 8.89012 19.114 8.30762C19.114 7.72511 18.6418 7.25293 18.0593 7.25293Z" fill="currentColor"/>
                    </g>
                </svg>
                <span class="text">зАЯВА</span>
                <span class="download">
                    <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.49994 1.01563C8.49994 0.46334 8.05222 0.015625 7.49994 0.015625C6.94765 0.015625 6.49994 0.46334 6.49994 1.01562L8.49994 1.01563ZM6.79283 14.1421C7.18336 14.5326 7.81652 14.5326 8.20705 14.1421L14.571 7.77813C14.9615 7.3876 14.9615 6.75444 14.571 6.36391C14.1805 5.97339 13.5473 5.97339 13.1568 6.36391L7.49994 12.0208L1.84308 6.36391C1.45256 5.97339 0.819395 5.97339 0.428871 6.36391C0.0383465 6.75444 0.0383465 7.3876 0.428871 7.77813L6.79283 14.1421ZM6.49994 1.01562L6.49994 13.435L8.49994 13.435L8.49994 1.01563L6.49994 1.01562Z" fill="white"/>
                        <path d="M1.29028 16.9834H13.7096" stroke="white" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </span>
            </a>
            <a class="pink" href="#" download data-aos="zoom-in-right" data-aos-delay="200" data-aos-duration="1000">
                <svg class="doc" width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_807_1653)">
                        <path d="M19.114 12.5264C19.114 11.9439 18.6418 11.4717 18.0593 11.4717H7.19598C6.61348 11.4717 6.1413 11.9439 6.1413 12.5264C6.1413 13.1089 6.61348 13.5811 7.19598 13.5811H18.0593C18.6418 13.5811 19.114 13.1089 19.114 12.5264Z" fill="currentColor"/>
                        <path d="M7.19598 15.6904C6.61348 15.6904 6.1413 16.1626 6.1413 16.7451C6.1413 17.3276 6.61348 17.7998 7.19598 17.7998H13.7936C14.3761 17.7998 14.8483 17.3276 14.8483 16.7451C14.8483 16.1626 14.3761 15.6904 13.7936 15.6904H7.19598Z" fill="currentColor"/>
                        <path d="M9.67451 25.8154H6.14716C4.98405 25.8154 4.03778 24.8692 4.03778 23.7061V5.14355C4.03778 3.98045 4.98405 3.03418 6.14716 3.03418H19.114C20.2771 3.03418 21.2233 3.98045 21.2233 5.14355V11.6299C21.2233 12.2124 21.6955 12.6846 22.278 12.6846C22.8605 12.6846 23.3327 12.2124 23.3327 11.6299V5.14355C23.3327 2.81734 21.4402 0.924805 19.114 0.924805H6.14716C3.82094 0.924805 1.92841 2.81734 1.92841 5.14355V23.7061C1.92841 26.0323 3.82094 27.9248 6.14716 27.9248H9.67451C10.257 27.9248 10.7292 27.4526 10.7292 26.8701C10.7292 26.2876 10.257 25.8154 9.67451 25.8154Z" fill="currentColor"/>
                        <path d="M25.2008 16.1949C23.9671 14.9612 21.9599 14.9612 20.727 16.1941L14.9366 21.9716C14.8136 22.0944 14.7229 22.2455 14.6724 22.4117L13.4113 26.5632C13.2995 26.9313 13.3969 27.331 13.6656 27.6063C13.8668 27.8126 14.1402 27.9245 14.4206 27.9245C14.5144 27.9245 14.6091 27.912 14.7021 27.8862L18.9591 26.707C19.1342 26.6585 19.2939 26.5655 19.4226 26.437L25.2009 20.6696C26.4345 19.436 26.4345 17.4287 25.2008 16.1949ZM18.1287 24.7482L15.987 25.3415L16.6138 23.278L20.5208 19.3796L22.0127 20.8715L18.1287 24.7482ZM23.7101 19.1775L23.5057 19.3814L22.0141 17.8898L22.2178 17.6866C22.629 17.2753 23.2981 17.2753 23.7093 17.6866C24.1205 18.0978 24.1205 18.7669 23.7101 19.1775Z" fill="currentColor"/>
                        <path d="M18.0593 7.25293H7.19598C6.61348 7.25293 6.1413 7.72511 6.1413 8.30762C6.1413 8.89012 6.61348 9.3623 7.19598 9.3623H18.0593C18.6418 9.3623 19.114 8.89012 19.114 8.30762C19.114 7.72511 18.6418 7.25293 18.0593 7.25293Z" fill="currentColor"/>
                    </g>
                </svg>
                <span class="text">дОГОВІР</span>
                <span class="download">
                    <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.49994 1.01563C8.49994 0.46334 8.05222 0.015625 7.49994 0.015625C6.94765 0.015625 6.49994 0.46334 6.49994 1.01562L8.49994 1.01563ZM6.79283 14.1421C7.18336 14.5326 7.81652 14.5326 8.20705 14.1421L14.571 7.77813C14.9615 7.3876 14.9615 6.75444 14.571 6.36391C14.1805 5.97339 13.5473 5.97339 13.1568 6.36391L7.49994 12.0208L1.84308 6.36391C1.45256 5.97339 0.819395 5.97339 0.428871 6.36391C0.0383465 6.75444 0.0383465 7.3876 0.428871 7.77813L6.79283 14.1421ZM6.49994 1.01562L6.49994 13.435L8.49994 13.435L8.49994 1.01563L6.49994 1.01562Z" fill="white"/>
                        <path d="M1.29028 16.9834H13.7096" stroke="white" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</section>
