@include small-desktop {
    .footer {
        &__top {
            align-items: flex-start;
        }
        &__contacts {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@include tablet {
    .footer {
        &__top {
            flex-direction: column;
            gap: 15px;
        }
        &__info {
            max-width: fit-content;

            .info {
                &:not(:last-child) {
                    margin-right: 25px;
                }
                &:nth-child(2) {
                    padding-left: 25px;
                    padding-right: 25px;
                }
            }
        }
        &__contacts {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            margin-left: auto;
        }
    }
}

@include small-tablet {
    .footer {
        padding-top: 50px;

        .logo {
            margin: 0 auto;
        }

        &__contacts {
            display: grid;
            margin-left: auto;
            margin-right: auto;
        }

        &__info {
            margin-top: 40px;
            margin-bottom: 40px;
            margin-left: auto;
            margin-right: auto;

            .info {
                &:not(:last-child) {
                    margin-right: 10px;
                }
                &:nth-child(2) {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}

@include mobile {
    .footer {
        margin: 0 4px;

        &__contacts {
            grid-template-columns: 1fr;
        }
        &__info {
            flex-direction: column;
            gap: 20px;

            .info {
                text-align: center;

                h3 {
                    margin-bottom: 20px;
                }

                a {
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }

                &:not(:last-child) {
                    margin-right: 0px;
                }
                &:nth-child(2) {
                    padding-left: 0px;
                    padding-right: 0px;
                    border: none;

                    a {
                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        .social {
            justify-content: center;
        }
    }
    .scroll-top {
        right: 20px;
    }
}
