@include big-desktop {
    .steps {
        &__container {
            max-width: 1120px;

            &.step--one {
                &::after {
                    top: 85px;
                }

                .step--one {
                    &::before {
                        height: 120px;
                    }
                }
            }

            &.step--two {
                &::after {
                    top: 275px;
                }
                .step--one {
                    &::before {
                        height: 320px;
                    }
                }
            }

            &.step--three {
                &::after {
                    top: 465px;
                }
                .step--one {
                    &::before {
                        height: 530px;
                    }
                }
            }

            &.step--four {
                &::after {
                    top: 655px;
                }
                .step--one {
                    &::before {
                        height: 100vh;
                    }
                }
            }
        }

        .step {
            max-width: 500px;
            padding: 35px 45px 35px 25px;

            .icon {
                min-width: 120px;
                height: 120px;
            }

            p {
                font-size: 18px;
                margin-left: 15px;
            }
        }
    }
}

@include small-desktop {
    .main-screen {
        &__title {
            .large {
                font-size: 100px;
            }
            .title-group {
                .text {
                    font-size: 55px;
                }
            }
        }
        .banner {
            padding: 50px 50px 50px 226px;

            img {
                left: 30px;
            }

            p {
                font-size: 16px;
                max-width: 437px;
            }
        }
    }
    .about {
        &__container {
            padding: 100px 40px;
        }
        h2 {
            font-size: 50px;
        }
        p {
            font-size: 24px;
            max-width: 449px;
        }
    }
    .steps {
        padding-top: 60px;

        &__container {
            max-width: 720px;

            &.step--one {
                &::after {
                    top: 130px;
                }

                .step--one {
                    &::before {
                        height: 200px;
                    }
                }
            }

            &.step--two {
                &::after {
                    top: 395px;
                }
                .step--one {
                    &::before {
                        height: 450px;
                    }
                }
            }

            &.step--three {
                &::after {
                    top: 670px;
                }
                .step--one {
                    &::before {
                        height: 730px;
                    }
                }
            }

            &.step--four {
                &::after {
                    top: 955px;
                }
                .step--one {
                    &::before {
                        height: 100vh;
                    }
                }
            }
        }

        .step {
            flex-direction: column;
            padding: 25px;
            max-width: 300px;

            p {
                margin-left: 0;
                margin-top: 15px;
            }
        }
    }
    .request-banner {
        .banner {
            &__container {
                padding: 80px 40px;
            }
            p {
                max-width: 452px;
            }
        }
    }

}

@include middle-tablet {
    .main-screen {
        &__title {
            .large {
                font-size: 80px;
            }
            .title-group {
                flex-direction: column;
                margin-top: 25px;
                .text {
                    font-size: 45px;
                }
            }
        }
        &__info {
            flex-wrap: wrap;
        }
        .banner {
            padding: 50px 30px;
            &::before {
                right: 290px;
            }
            img {
                top: -100px;
            }
        }
    }
}

@include tablet {
    .main-screen {
        &__title {
            .large {
                font-size: 60px;
            }
            .title-group {
                position: relative;

                .text {
                    font-size: 35px;
                    position: static;
                }
            }
        }
        &__info {
            span {
                font-size: 24px;
                padding: 18px;
            }
        }
        .banner {
            flex-direction: column;

            &::before {
                width: 100%;
                height: 1px;
                right: 0;
                top: 110px;
            }

            p {
                text-align: center;
                margin-bottom: 35px;
            }
            button {
                margin: 0 auto;
            }
        }
    }
    @keyframes star-moving {
        0% {
            transform: translate(0px, 0px);
        }
        15% {
            transform: translate(-100px, 100px);
        }
        30% {
            transform: translate(100px, 220px);
        }
        40% {
            transform: translate(-200px, 550px);
        }
        50% {
            transform: translate(-500px, 450px);
        }
        65% {
            transform: translate(-300px, 350px);
        }
        75% {
            transform: translate(-500px, -70px);
        }
        85% {
            transform: translate(-200px, 10px);
        }
        95% {
            transform: translate(-100px, 0px);
        }
        100% {
            transform: translate(0px, 0px);
        }
    }
    @keyframes star-linear-move {
        0% {
            transform: translateY(-50%) translateX(0px);
        }
        50% {
            transform: translateY(-50%) translateX(600px);
        }
        100% {
            transform: translateY(-50%) translateX(0px);
        }
    }
    .about {
        &__group {
            grid-template-columns: 1fr;
        }
    }
}

@include small-tablet {
    .main-screen {
        padding-bottom: 30px;
    }
    .about {
        padding-top: 30px;

        &__container {
            background: #7A78C9;
        }

        p {
            max-width: inherit;
        }
    }
    .steps {
        padding-top: 30px;

        h2 {
            margin-bottom: 40px;
        }


        &__container {
            gap: 60px 0;
            max-width: 800px;
            padding-bottom: 80px;
            padding-right: 60px;

            &::before,
            &::after  {
                left: inherit;
                transform: none;
                right: 0;
            }

            &::before {
                right: 9px;
            }

            &::after {
                left: inherit;
                transform: none;
                right: 0;
            }

            &.step--one {
                &::after {
                    top: 85px;
                }

                .step--one {
                    &::before {
                        height: 150px;
                    }
                }
            }

            &.step--two {
                &::after {
                    top: 335px;
                }
                .step--one {
                    &::before {
                        height: 400px;
                    }
                }
            }

            &.step--three {
                &::after {
                    top: 585px;
                }
                .step--one {
                    &::before {
                        height: 650px;
                    }
                }
            }

            &.step--four {
                &::after {
                    top: 835px;
                }
                .step--one {
                    &::before {
                        height: 100vh;
                    }
                }
            }
        }

        .step {
            flex-direction: row;
            max-width: inherit;
            padding: 35px 45px;

            &::after {
                width: 51px;
                right: -51px;
            }

            &:nth-child(odd) {
                &::after {
                    right: -51px;
                }
            }

            p {
                margin-top: 0;
                margin-left: 15px;
            }

            &:nth-child(even) {
                margin-left: 0;

                &::after {
                    left: inherit;
                    right: -51px;
                }
            }

            &.step--one {
                &::before {
                    right: -51px;
                }
            }
        }
    }
    .request-banner {
        .banner {
            padding-top: 0;

            &__container {
                img {
                    top: 0;
                    height: 100%;
                    opacity: .5;
                }
            }
            p,
            h2 {
                position: relative;
                z-index: 1;
            }

            h2 {
                font-size: 50px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}

@include mobile {
    .main-screen {
        &__title {
            margin-bottom: 25px;
            .large {
                font-size: 40px;
            }
            .title-group {
                margin-top: 15px;
                .text {
                    font-size: 25px;
                }
            }
        }
        &__info {
            span {
                font-size: 18px;
                padding: 14px;
            }
        }
    }
    .about {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;

        &__container {
            padding: 60px 20px;
            margin-bottom: 8px;
        }

        h2 {
            margin-top: 30px;
            margin-bottom: 15px;
            font-size: 40px;
            max-width: inherit;
        }
        p {
            max-width: inherit;
            font-size: 18px;
        }
        &__group {
            gap: 8px;

            .text-block {
                font-size: 16px;
                padding-top: 22px;
                padding-bottom: 22px;
                padding-right: 22px;
                padding-left: 90px;

                &::before {
                    left: 22px;
                }

                &::after {
                    left: 75px;
                }
            }
        }
    }
    @keyframes star-linear-move2 {
        0% {
            transform: translateX(0px);
        }
        50% {
            transform: translateX(300px);
        }
        100% {
            transform: translateX(0px);
        }
    }
    .steps {
        &__container {
            padding-right: 30px;

            &.step--one {
                &::after {
                    top: 75px;
                }

                .step--one {
                    &::before {
                        height: 120px;
                    }
                }
            }

            &.step--two {
                &::after {
                    top: 305px;
                }
                .step--one {
                    &::before {
                        height: 370px;
                    }
                }
            }

            &.step--three {
                &::after {
                    top: 535px;
                }
                .step--one {
                    &::before {
                        height: 600px;
                    }
                }
            }

            &.step--four {
                &::after {
                    top: 765px;
                }
                .step--one {
                    &::before {
                        height: 100vh;
                    }
                }
            }
        }
        .step {
            padding: 45px 15px;

            &::after {
                width: 21px;
                right: -21px;
            }

            &:nth-child(odd) {
                &::after {
                    right: -21px;
                }
            }

            &:nth-child(even) {
                &::after {
                    right: -21px;
                }
            }

            &.step--one {
                &::before {
                    right: -21px;
                }
            }

            .icon {
                min-width: 80px;
                height: 80px;

                img {
                    max-width: 40px;
                }
            }

            p {
                font-size: 16px;
                max-width: 320px;
            }

            &-count {
                width: 30px;
                height: 30px;
                top: 10px;
                right: 10px;
                font-size: 12px;
            }
        }
    }
    .request-banner {
        .banner {
            &__container {
                padding: 40px 20px;
            }
            h2 {
                font-size: 35px;
            }
            p {
                max-width: inherit;
            }
        }
    }
}

@media (max-width: 420px) {
    .steps {
        &__container {
            padding-right: 0;
            max-width: inherit;
            gap: 30px;

            &::before,
            &::after {
                content: none;
            }
        }

        .step {
            &::before {
                content: none;
            }

            &:nth-child(even),
            &:nth-child(odd) {
                &::after {
                    border-right: 4px dashed var(--cs-purple);
                    height: 30px;
                    right: 50%;
                    transform: translateX(-50%);
                    bottom: -30px;
                    top: inherit;
                    width: inherit;
                }
            }
        }
    }
}
